<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="GemBoxKey" value="EEFR-KNFG-HT5Q-DHGR" />
    <add key="MESstring1" value="Data Source=dbwebstage.nobelacq;Initial Catalog=MES;User Id=sa_Dale;Password=DragonFork5;" />
    <add key="MESstring2" value="Data Source=192.168.231.10;Initial Catalog=MES;User Id=sa_Dale;Password=Hq2fVkmJXFQ6h5A;" />
    <add key="MESstring3" value="Data Source=192.168.3.67;Initial Catalog=MES;User Id=sa_Dale;Password=tL3nY6ci8kVD42*xH^Uh" />
  </appSettings>
</configuration>